* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

:root {
  --dark-blue-color: #1e2448;
  --light-blue-color: #505a89;
  --external-components-padding: 0 2vw;

  --padding-global: 0 2vw;
  --padding-main: 5vh 2.5vw;
  --gap: 20px;
  --nav-height: 13vh;
  --footer-height: 15vh;
  --card-size: 200px;
  --card-border-radius: 7px;
  --card-padding: 15px;
  --button-padding: 8px 20px;
  --button-border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
}

/*  NAV BAR  */
nav {
  background-color: var(--dark-blue-color);
  padding: var(--external-components-padding);
  height: 13vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

nav .left-menu {
  display: flex;
  gap: 20px
}

/*  MAIN BODY  */
main {
  display: flex;
  justify-content: space-between;
  
  padding: 5vh 2.5vw;
}

/* Filter Section */

main .filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main h1 {
  font-size: 26px;
}

main h2 {
  font-size: 21px;
}

main .filter button {
  background-color: var(--dark-blue-color);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  width: max-content;
  border: none;
}

/* Items Section */

main .items {
  display: flex;
  flex-direction: column;
  gap: 20px
}

main .items button {
  text-align: center;
  padding: 6px;
}

main article.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1vh ;
  padding: 0 0 5vh;
}

main div.card {
  border-radius: 7px;
  width: min-content;
  border: solid 3px;
  padding: 15px;
  text-align: center;

  display: flex;
  flex-direction: column;
}

main div.card h2 {
  padding: 7px;
}

main div.card img {
  width: 200px;
  height: 200px;
  border-radius: 7px;
  background-color: lightgray;

  text-align: center;
  color: gray;
  font-weight: bolder;
  font-size: 26px;
}

/*  Footer  */

footer {
  height: 15vh;
  background-color: var(--light-blue-color);
  padding: var(--external-components-padding);
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: sticky;
  bottom: 0;
}

footer .info {
  display: flex;
  gap: 10px;
}

footer .copyright {
  align-self: center;
}