:root {
  --dark-blue-color: #1e2448;
  --light-blue-color: #505a89;

  --padding-global: 0 2vw;
  --padding-main: 5vh 2.5vw;
  --gap: 20px;
  --nav-height: 13vh;
  --footer-height: 13vh;
  --img-card-size: 200px;
  --card-border-radius: 7px;
  --card-padding: 15px;
  --button-padding: 8px 20px;
  --button-border-radius: 5px;
  --menu-gap: 1vw;
} 

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

/*  NAV BAR  */
nav {
  background-color: var(--dark-blue-color);
  padding: var(--padding-global);
  height: var(--nav-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

nav .left-menu {
  display: flex;
  gap: var(--menu-gap);
}

/*  MAIN BODY  */
main {
  display: flex;
  justify-content: space-around;
  
  padding: 4vh 4vw;
}

/* Filter Section */

main .filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main h1 {
  font-size: 26px;
}

main h2 {
  font-size: 21px;
}

main .filter button {
  background-color: var(--dark-blue-color);
  color: white;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  width: max-content;
  border: none;
}

/* Items Section */

main .items {
  display: flex;
  flex-direction: column;
  gap: 20px
}

main .items button {
  text-align: center;
  padding: 6px;
}

main article.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1vh;
  padding: 0 0 5vh;
}

main div.card {
  border-radius: var(--card-border-radius);
  width: min-content;
  border: solid 2px;
  padding: var(--card-padding);
  text-align: center;

  display: flex;
  flex-direction: column;
}

main div.card h2 {
  padding: 7px;
}

main div.card img {
  width: var(--img-card-size);
  height: var(--img-card-size);
  border-radius: var(--card-border-radius);
  background-color: lightgray;

  text-align: center;
  color: gray;
  font-weight: bolder;
  font-size: 26px;
}

/*  Footer  */

footer {
  height: var(--footer-height);
  background-color: var(--light-blue-color);
  padding: var(--padding-global);
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: sticky;
  bottom: 0;
}

footer .info {
  display: flex;
  gap: var(--menu-gap);
}

footer .copyright {
  align-self: center;
}